<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuizTime - Quiz App</title>
    <link rel="stylesheet" href="css/SignupLogin.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <div id="logo">
        <img src="images/Frame 257.svg" alt="Logo" />
        {{!-- <button>Ai Quiz</button> --}}
      </div>
    </div>
    <div class="container">
      <div class="heading">
        <h1><span class="highlighted">Create</span> a Quiz</h1>
      </div>
      <form id="quizForm" class="form1">
        <div class="QuizName">
          <p>Quiz Name</p>
          <input id="Quizname" type="text" />
        </div>
        <div class="SubjectName">
          <p>Subject Name</p>
          <input id="subject" type="text" />
        </div>
        <div class="TotalQuestions">
          <p>Total Questions</p>
          <input id="TotalQuestions" type="number"/>
        </div>
        <button type="submit" class="submit_btn">Next</button>
      </form>
    </div>
    <script src="Quizmainscreen.js"></script>
  </body>
</html>